* {
    text-align: center;
}

#chessboard{
    width: 640px;
    height: 640px;
    margin: auto;
    border: 20px solid DarkSlateGrey;
}

.index {
    font-size: 18px;
    color: ghostwhite;
    pointer-events: none;
}

.topHorizontalIndex, .bottomHorizontalIndex {
    width: 680px;
    position: relative;
    left: -20px;
}

.topHorizontalIndex {
    top: -20px;
    margin-bottom: -22px;
}

.topHorizontalIndex span, .bottomHorizontalIndex span {
    margin-left: 32px;
    margin-right: 32px;
}

.leftVerticalIndex, .rightVerticalIndex {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 640px;
    width: 20px;
}

.leftVerticalIndex {
    float: left;
    left: -20px;
    margin-right: -20px;
}

.rightVerticalIndex {
    float: right;
    top: -660px;
    right: -20px;
    margin-left: -20px;
}

.leftVerticalIndex span, .rightVerticalIndex span {
    margin-top: 29px;
    margin-bottom: 29px;
}

.blackTeam.pawn {
    padding-top: 10px;
    margin-bottom: -10px;
}

.white, .black {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.white {
    background-color: mintcream;
}

.black {
    background-color: grey;
}

.black:hover, .white:hover {
    width: 76px;
    height: 76px;
    border: 2px inset black;
}

.selected:hover {
    width: 80px;
    height: 80px;
    border: none;
}

.selected {
    box-sizing: border-box;
    background: linear-gradient(90deg, teal 50%, transparent 50%),
                linear-gradient(90deg, teal 50%, transparent 50%),
                linear-gradient(0deg, teal 50%, transparent 50%),
                linear-gradient(0deg, teal 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 12px 2px, 12px 2px, 2px 12px, 2px 12px;
    background-position: 0px 0px, 78px 0px, 78px 78px, 0px 78px;
    animation: border-spin 4s infinite linear;
}

@keyframes border-spin {
    0% {
        background-position: 0px 0px, 156px 78px, 0px 156px, 78px 0px;
    }
    100% {
        background-position: 156px 0px, 0px 78px, 0px 0px, 78px 156px;
    }
}

.validDestination {
    background: rgba(95,207,248, 0.75);
    background-image: linear-gradient(to top right,
                                      rgba(95,207,248, 0.75) 0%,
                                      #a7d4f1 20%,
                                      rgba(95,207,248, 0.75) 40%,
                                      rgba(95,207,248, 0.75) 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}

.killDestination {
    z-index: -1;
    background: rgba(255,220,55,0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    z-index: 0;
    border-radius: 50%;
    background-color: rgba(211, 16, 10, 0.5);
    position: absolute;
    width: 64px;
    height: 64px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -140px -140px;
    }

    100% {
        background-position: 140px 140px;
    }
}

/*
div, span {
    outline: 1px solid red !important;
}
*/
